{{#each hangouts as |hangout|}}
<div class="card" style="width: 18rem;">

  <section data-id="{{hangout.id}}">
    <div class="card-header">
        {{hangout.title}}
    </div>

    <ul class="list-group list-group-flush">

        <li class="list-group-item">Date: {{hangout.date}}</li>
        {{#if hangout.time}}
        <li class="list-group-item">Time: {{hangout.time}}</li>
        {{/if}}
        <li class="list-group-item">Location: {{hangout.location}}</li>
        {{#if hangout.website}}
        <li class="list-group-item">Website: {{hangout.website}}</li>
        {{/if}}
    </ul>

    <div class="card-body">
      <p class="card-text">{{hangout.description}}</p>
      {{#if hangout.loggedIn}}
      <a href="#" data-toggle="popover" data-trigger="focus" data-placement="left" data-toggle="popover" title="Attendees">
        <button data-id="{{hangout._id}}" class="btn btn-sm btn-outline-dark show-attend-button">Show Attendees</button>
      </a>
      {{/if}}
      {{#if hangout.loggedIn}}
          <button data-id="{{hangout._id}}" class="btn btn-sm attend-button">RSVP</button>
      {{/if}}
       {{#if hangout.editable}}
      <button data-id="{{hangout._id}}" class="btn btn-outline-dark btn-sm delete-btn delete-button">Delete</button>


  <!--Edit Event Menu-->
      <div class="dropdown dropdown-inline">
        <button class="btn btn-outline-dark btn-sm edit-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edit Event
        </button>
        <div class="dropdown-menu">
          <form class="px-4 py-3 edit-hangout" data-id="{{hangout._id}}">
            <fieldset>
              <div class="form-group">
                <input type="text" class="text" name="hangout[title]" value="{{hangout.title}}" placeholder="Title">
              </div>

              <div class="form-group">
                <input type="date" class="text" name="hangout[date]" value="{{hangout.date}}">
              </div>

              <div class="form-group">
                <input type="text" class="text" name="hangout[location]" value="{{hangout.location}}" placeholder="Location">
              </div>
              <div class="form-group">
                <input type="text" class="text" name="hangout[description]" value="{{hangout.description}}" placeholder="Description">
              </div>
              <button type="submit" class="btn btn-outline-dark">Save Changes</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{{/if}}

  </section>
</div>
{{/each}}
